.burger {
    position: absolute;
    right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

@media only screen and (max-width: 768px) {
    .burgerButton {
        display: none;
    }
}

.bar {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transition: all 0.3s linear;
    background-color: #fff;
    position: relative;
    transform-origin: 1px;
}