.hero {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(RGB(40, 7, 54), RGB(25, 6, 40)); */
  background-image: linear-gradient(rgba(40, 7, 54, 0.5), rgba(25, 6, 40, 1)), url("./herobackground.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heroTitle {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heroTitle h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 10px;
  font-size: 48px;
  margin-left: 20%;
}

.heroTitle p {
  padding: 2%;
  padding-left: 0;
  padding-bottom: 0;
  margin-left: 20%;
  color: #BBBBBE;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Khula', sans-serif;
  max-width: 550px;
}

@media only screen and (max-width: 1024px) {
  .heroContent {
    padding-left: 4%;
    padding-right: 4%;
  }
}

.features {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #190628;
}

.featureContainer {
  width: 60%;
  height: 90%;
  border: 4px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.featureTitle {
  
}

.featureTitle h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 0px;
  margin: 2%;
  margin-left: 12%;
  font-family: 'Roboto', sans-serif;
}

.featureDescriptions {
  margin-left: 3%;
  margin-right: 3%;
}

.featureDescriptions p {
  color: #fff;
  font-family: 'Public Sans', sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.featureLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  margin-top: 4%;
}

.featureIcons {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.featureIcons span {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* .featureItem {
  width: 23%;
  height: 80%;
  border: none;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featureTitle {
  color: #fff;
  font-size: 30px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

.featureIcon {
  width: 110px;
  height: 110px;
  margin-bottom: 20px;
  filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(137deg) brightness(119%) contrast(89%);
}

.featureDescription {
  width: 80%;
  height: 50%;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.featureDescription p {
  font-weight: 600;
  color: #B380C7;
  word-spacing: 2px;
}

.iconTitleContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.spacer {
  width: 100%;
  height: 20vh;
  background-color: #190628;
}

.community {
  width: 100%;
  height: 100vh;
  background-color: #F6F4F8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.communityTitle {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.communityTitle h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 60px;
  color: #333333;
  line-height: 1.2;
  letter-spacing: .1rem;
  margin-top: 3rem;
  margin-right: 0px;
  margin-bottom: 7rem;
  margin-left: 0px;
}

.communityDescription {
  width: 62%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.communityDescription p {
  color: #3A4143;
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  font-family: 'Public Sans', sans-serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.communityDescription h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #333333;
  line-height: 1.2;
  letter-spacing: .1rem;
  margin-top: 3rem;
  margin-right: 0px;
  margin-bottom: 3rem;
  margin-left: 0px;
}

.communityDescription span {
  color: #3A4143;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Public Sans', sans-serif;
}

.iconLinks {
  width: 32%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.communityIcons {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.communityIcons a {
  margin: 4%;
  transition: .4s;
}

.communityIcons a:hover {
  color: #BA87CF;
  transition: .4s;
}

.communityIcons span {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Public Sans', sans-serif;
  text-align: center;
}

.meet {
  width: 100%;
  height: 10vh;
  background-color: #190628;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4%;
}

.meetDescription {
  width: 100%;
  height: 10vh;
  background-color: #190628;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

.meetDescription p {
  width: 50%;
  color: #B380C7;
  text-align: center;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;
}

.meet h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  letter-spacing: .1rem;
  padding: 2%;
}

.team {
  width: 100%;
  height: 70vh;
  background-color: #190628;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamContainer {
  width: 18%;
  height: 65%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin: 1%;
}

.teamMemberImageOne {
  width: 100%;
  height: 75%;
  background-image: url("./michael.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}

.teamMemberImageTwo {
  width: 100%;
  height: 75%;
  background-image: url("./larry.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}

.teamMemberImageThree {
  width: 100%;
  height: 75%;
  background-image: url("./brandon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}


.teamMemberInfo {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-top: 2%;
  background-color: #280736;
  border-bottom-right-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.teamMemberInfo a {
  margin: 2%;
  width: 30px;
  color: #ba87cf;
  transition: .3s;
}

.teamMemberInfo a:hover {
  color: #fff;
  transition: .3s;
}

.teamMemberInfo h1 {
  color: #fff;
  font-size: 17px;
  padding-left: 2%;
  padding-top: 4%;
  font-weight: 600;
}

.teamMemberInfo p {
  color: #889888;
  font-size: 12.8px;
  padding-left: 2%;
  margin-bottom: 30px;
  font-weight: 900;
}

.teamIconLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 27vh;
  background-color: #280736;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerWrapper {
  width: 60%;
  height: 100%;
  display: flex;
  border-bottom: 1px solid grey;
}

.footerHero {
  width: 47%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footerHero h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  padding-bottom: 3%;
  padding-top: 10%;
}

.footerHero h2 {
  color: #C6C7C8;
  font-size: 16px;
}

.footerLinks {
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 3%;
}

.footerLinks h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding-bottom: 3%;
  padding-top: 33%;
  line-height: 1.5;
}

.footerLinks a {
  width: 40%;
  padding: 3px 0px;
  font-family: 'Montserrat', sans-serif;
  color: #ced4da;
  transition: .3s;
  font-size: 13.6px;
  font-weight: 600;
  line-height: 1.5;
}

.footerLinks a:hover {
  color: #fff;
  transition: .3s;
}

.heroButtonsContainer {
  width: 53%;
  height: 8vh;
  display: flex;
  align-items: center;
  padding-top: 4%;
  margin-left: 20%;
}

.liveChartButton {
  width: 15%;
}

.liveChartButton button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px 8px 0px 0px;
  letter-spacing: 0.40px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #8D44AB;
  cursor: pointer;
  transition: .4s;
  border: 1px solid #8D44AB; 
}

.liveChartButton button:hover {
  transition: .4s;
  opacity: .7;
}

.projectsButton {
  width: 20%;
}

.projectsButton button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 40px;
  letter-spacing: 0.40px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
  border: 1px solid #fff;
  text-align: center;
}



.projectsButton button:hover {
  transition: 2s;
  color: black;
  box-shadow: inset 400px 0 0 0 #FFF;
}

.tokenStats {
  width: 53%;
  height: 10vh;
  margin-bottom: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.statContainer {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
  margin-left: 5%;
  margin-right: 5%;
}

.statContainer .statValue {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;
}

.statContainer .statDescription {
  color: #ced4da;
  font-family: 'Montserrat', sans-serif;
  font-size: 12.8px;
  font-weight: 600;
  line-height: 1.5;
}

.copyRightWrapper {
  width: 100%;
  height: 5vh;
  background-color: #280736;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyRight {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

.copyRight p {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}