.container {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 999;
}

.title {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%; */
  width: 10%;
  height: 100%;
  background-image: url("./studiologo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 19%;
}

.title h1 {
  color: #fff;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20%;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  color: #fff;
  padding: 6px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  transition: 0.75s;
}

.nav ul li a:hover {
  color: #8D44AB;
  transition: 0.75s;
}

.icons {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons a {
  color: #fff;
  transition: 0.75s;
}

.icons a:hover {
  color: #8D44AB;
  transition: 0.75s;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .title h1 {
    font-size: 1.6rem;
  }

  .icons {
    width: 35%;
  }

  .line {
    width: 28px;
    height: 2px;
    background-color: white;
    margin: 3px;
    display: inline-block;
  }

  .nav ul li a {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
    .icons {
        width: 30%;
    }
}
